.jumbotron {
    background-color: bisque;
    margin: 0;
  }
  ul li {
    margin: 8px;
    font-size: 17px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  }
  nav .navbar-nav li a {
    color: brown;
  }

  .carousel {
    margin: 45px;
  }
  /* social media css */

  .social {
    position: fixed;
    top: 65%;
  }
  .social ul {
    list-style-type: none;
    padding: 0;
    transform: translateX(-270px);
  }
  .social ul li {
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 1);
    width: 295px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
  }
  .social ul li:hover {
    transform: translateX(110px);
  }
  .social ul li.twitter:hover {
    background-color: #6ea7d3;
  }
  .social ul li.facebook:hover {
    background-color: #3d5999;
  }
  .social ul li.linkedin:hover {
    background-color: #3d5999;
  }
  .social ul li.instagram:hover {
    background-color: #e4405f;
  }
  .fa {
    font-size: 20px;
  }
  a {
    padding: 0px;
    margin: 2px;
    direction: none;
  }
  /* social media css end */
  /* post */
  .card{
    margin-top: 30px;
  }